<!doctype html>
<html>
<% include common/head %>
</head>
<body>

<div class="container">
	<h1>Edit Profile</h1>
	<a href="/profile">Back to profile ... </a>
	Email
	<h3>User name</h3>
	Username

</div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>