<!doctype html>
<html>
<% include common/head %>
<body>
<div>
    <div>
        <a href="">Recipe Box</a>

        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Tour</a></li>
            <li><a href="#">Sign Up</a></li>
        </ul>
    </div>
</div>

<div>
    <div>
        <h1>Big Bold Text</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
        <p>
            <a href="/login">View Recipes</a>
        </p>
    </div>
</div>





</body>
</html>