<!doctype html>
<html>
<% include common/head %>
<body>
<div>
<a href="">Recipes</a>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/signup">Signup</a></li>
</ul>
</div>

<h1>Login</h1>
<% if (message.length > 0) { %>
	<div ><%=message %></div>
	<% } %>
	<form action="/login" method="post" class="pure-form">
		<fieldset>
		<input id="email"  type="email" placeholder="Email Address" name="email" required>
		<input id="password"  type="password" placeholder="Password" name="password" required>
		<button type="submit" >Submit</button>

		<p>Don't have an account with Recipe Box?
		<a href="/signup">Sign Up</a> or go back to <a href="/">home</a>.</p>
		</fieldset>
		</form>
		</div>
		<% include common/footer %>
		</body>
		</html>