<!doctype html>
<html>
<% include common/head %>
<link rel="stylesheet" href="stylesheets/signin.css">
</head>
<body>

    <div class="container">


<% if (message.length > 0) { %>
	<div ><%=message %></div>
	<% } %>
	<form action="/login" method="post" class="form-signin">
		<h1 class="form-signin-heading">Login</h1>
		<fieldset>
		<label for="inputEmail" class="sr-only">Email address</label>
		<input id="email"  type="email" placeholder="Email Address" name="email" class="form-control" required>
		<label for="inputPassword" class="sr-only">Password</label>
		<input id="password"  type="password" placeholder="Password" name="password" class="form-control" required>
		<button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>

		<p>Don't have an account with Recipe Box?
		<a href="/signup">Sign Up</a> or go back to <a href="/">home</a>.</p>
		</fieldset>
		</form>
		</div>
		<% include common/footer %>
		</body>
		</html>




    </div> <!-- /container -->


    
</body>
</html>

