<!doctype html>
<html>
	<% include common/head %>
	<link rel="stylesheet" href="stylesheets/user-profile.css">
</head>
<body>
	<% include common/headerbar %>
	<div class="container">

		<div class="profile-card">
			<h1>Username</h1>
			<a href="/editprofile">Edit profile ... </a><br>
			<img src="http://placehold.it/300x300" alt="User profile picture">
			<p>Small description of self</p>
			<h5>Location here</h5>
			<h3>Most Popular</h3>
			Below here will be a list of 5 most popular recipes
		</div>
		<div class="profile-featured-content">
			<!--<h3>Recent Activity</h3>
			<div class="pictures-gallery">
				<img class="recent-recipe" src="http://placehold.it/125x125">
				<img class="recent-recipe" src="http://placehold.it/125x125">
				<img class="recent-recipe" src="http://placehold.it/125x125">
				<img class="recent-recipe" src="http://placehold.it/125x125">
			</div>
			This area will feature a small gallery of latest images uploaded at the top
			with small descriptions of each recipe.

			<h3>Frequent Tags</h3>
			Below will be a tag cloud-->

			<h2>In the Kitchen ... </h2>
			Show a list of recipes.	

		</div>
		<hr class="col-md-12">

		<% include common/footer %>

	
</body>
</html>