<section data-ng-controller="RecipesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="recipe.name"></h1><h3>Created by: {{recipe.author}}</h3>
		<h3>Photos</h3>{{recipe.photos}}
		<h5>Total Time: {{recipe.totalTime}}</h5><h5>Makes {{recipe.servings}} servings</h5>
		<p>Description: {{recipe.description}}</p>
		<p>Tags: {{recipe.tags}}</p>
		<p>Ingredients: {{recipe.ingredients}}<p>
		<p>Directions: {{recipe.steps}}</p>
		<small>This recipe has been made {{recipe.timesMade}} times.</small>
	</div>
	<!-- Only shows if the user is logged in-->
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == recipe.user._id))">
		<a class="btn btn-primary" href="/#!/recipes/{{recipe._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="recipe.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="recipe.user.displayName"></span>
		</em>
	</small>
	<section>
		<h2>Reviews</h2>
		{{recipe.reviews}}
	</section>
</section>
