.profile-featured-content {
	float: right;
	width: 60%;
	padding: 20px;
	margin-top: 75px;
	box-sizing: border-box;
}

.profile-card {
	float: left;
	width: 40%;
	box-sizing: border-box;
	padding: 20px;
}

.fridge-item{
	background-color: #999;
	
	width: 100%;
}
.fridge-item h1 {
	font-size: 1.6em;
	text-transform: uppercase;
}
.fridge-item h3 {
	font-size: 1em;
}
.fridge-item img {
	
}
