<section data-ng-controller="RecipesController" data-ng-init="find()">
<div class="jumbotron text-center">
         <div class="row">
           <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-
           offset-3 col-xs-12">
           <h1>RecipeBox</h1>
           </div>
         </div>
         <br>
         <div class="row">
           <p class="lead">
           Save, share, and savor your favorite recipes.
           </p>
         </div>
         <div class="row">
           <p>
           <a class="btn btn-primary btn-lg" href="#!/signup">
           Get a Box</a>
           </p>
         </div>
       </div>
         <section>
           <div class="page-header">
             <h1>Recipes</h1>
           </div>
<div class="list-group">
<!-- Add filter to list recipes by created date --> 
<a data-ng-repeat="recipe in recipes" data-ng-href="#!/recipes/{{recipe._id}}" class="list-group-item">
<h1 data-ng-bind="recipe.name"></h1>
            <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="recipe.created | date:'medium'"></span>
        by
        <span data-ng-bind="recipe.user.displayName"></span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="recipe.name"></h4>
</a>
</div>
<!-- Add a simple message if don't have any speaker yet -->
<div class="alert alert-warning text-center" data-ng-hide="!recipes.$resolved || recipes.length">
             No recipes yet, why don't youu
             <a href="/#!/recipes/create">create one</a>?
           </div>
         </section>
       </section>
       <footer>
         <p class="text-center">Recipes &copy; 2014</p>
       </footer>